* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 95%;
}


table#teable-main{
                  border-collapse: collapse;
                  border-spacing: 0;
                  border: 1px solid grey;
                  margin-right: 20px;
                  width:100%;
                 }

table#tickers-common{
                     border-collapse: collapse;
                     border-spacing: 0;
                     border: 1px solid black;
                     margin-right: 10px;
                     width:100%;
                     font-size: 13px;
                    }

table#tickers-external{
                     border-collapse: collapse;
                     border-spacing: 0;
                     border: 1px solid red;
                     margin-right: 20px;
                     width:100%;
                    }