@(message: String, seqTickersBws :Seq[LastBar])(implicit assetsFinder: AssetsFinder)
<div id="div-inter-bars-stats" class="bars-stat">
<table border="1"  id="tickers-bws-common">
    <tr>
        <td class="tbws">CODE</td>
        <td class="tbws">BWS(sec.)</td>
        <td class="tbws">LASTBAR(datetime)</td>
        <td class="tbws">LASTTICK(datetime)</td>
        <td class="tbws">DIFF TO CURRTS(sec.)</td>
        <td class="tbws">DIFF TO LASTTICK(sec.)</td>
    </tr>
    @for(t <- seqTickersBws){
    @*
    id="tickerbws-1-30-2019-08-12"
    *@
    <tr id="tickerbws-@t.tickerWithDts.ticker.tickerId-@t.bws-@t.rYear-@t.rMon-@t.rDay" class="@{ if (t.isFail==1) {"tr-tickerbws-fail"} else {"tr-tickerbws"}}"  onclick="funcOnClickTbar(this)" >
        <td class="tbws">@t.tickerWithDts.ticker.tickerCode</td>
        <td class="tbws">@t.bws</td>
        <td class="tbws">@t.lastBarDateTime</td>
        <td class="tbws">@t.tickerWithDts.lastTickDateTime</td>
        <td class="tbws">@t.diffSecondsToCurr</td>
        <td class="tbws">@t.diffSecondsToLastTick</td>
    </tr>
    }
</table>
</div>
