@(title: String, activeMenuId :Int, currdt :String = "ws text", assetsFinder: AssetsFinder)(wsContent: Html)(caContent: Html)
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <meta name="description" content="Web interface for online trading system, written on Scala. Opened to everybody.">
    <meta name="keywords" content="Trading,MTS,Scala">
    <meta name="author" content="Yakushev Aleksey">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <script language="javascript" type="text/javascript" src="@routes.Assets.at("javascripts/jquery-3.4.1.js")"></script>
    <script language="javascript" type="text/javascript" src="@routes.Assets.at("javascripts/jquery.flot.js")"></script>
    <script language="javascript" type="text/javascript" src="@routes.Assets.at("javascripts/jquery.flot.time.js")"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="@routes.Assets.at("javascripts/common.js")"></script>
</head>
<body>

<table border="1" width=100% id="table-main">
    <tr>
        <td width=10%>menu</td>
        <td>Current DateTime = @currdt
         <input type="button" id="reload" onclick="funcOnClickReloadButton()" value="RELOAD">
         <input type="button" id="exec" onclick="funcOnClickExecButton()" value="SHOW LBARS">
         <input type="button" id="selalltickers" onclick="funcOnClickSelAllButton()" value="SEL ALL">
         <input type="button" id="unselalltickers" onclick="funcOnClickUnSelAllButton()" value="UNSEL ALL">
         <input type="checkbox" name="issingles" id="issingles">SINGLE SELECT (Tickers)
        </td>
    </tr>
    <tr>
        <td class="td-menu">
            @menu(activeMenuId)
        </td>
        <td>
            <div id="div-wscontent" class="wscontent">
              @wsContent
            </div>
        </td>
    </tr>
    <tr>
        <td width=100% colspan=2>@caContent</td>
    </tr>
</table>

</body>
</html>