@(title: String, activeMenuId :Int, currdt :String = "ws text", assetsFinder: AssetsFinder)(wsContent: Html)(caContent: Html)
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <script src="@routes.Assets.at("javascripts/common.js")"></script>
</head>
<body>

<table border="1" width=100% id="teable-main">
    <tr>
        <td width=20%>menu</td>
        <td>Current DateTime = @currdt
         <input type="button" id="exec" onclick="funcOnClickExecBUtton()" value="EXECUTE">
        </td>
    </tr>
    <tr>
        <td>
            @menu(activeMenuId)
        </td>
        <td>
            <section class="wscontent">
                @wsContent
            </section>
        </td>
    </tr>
    <tr>
        <td width=100% colspan=2>@caContent</td>
    </tr>
</table>

</body>
</html>