@(message: String, activeMenuId :Int, seqTicker :Seq[TickerWithDdateTs], currdt :String = " ")(implicit assetsFinder: AssetsFinder)
@main(title = message, activeMenuId, currdt, assetsFinder){

<table border="1" id="tickers-external">
    <tr>
        <td rowspan="2" width="25%" class="td-menu-container">
            <div>
                <table border="1" id="tickers-common">
                    <tr>
                        <td class="td-ticker">ID</td>
                        <td class="td-ticker">CODE</td>
                        @***
                        <td class="td-ticker">FIRST</td>
                        <td class="td-ticker">SECOND</td>
                        ***@
                        <td class="td-ticker">LAST D.T.</td>
                        <td class="td-ticker">DIFF SEC.</td>
                        <td class="td-ticker">FAIL BWS CNT.</td>
                    </tr>
                    @for(t <- seqTicker){
                    <tr id="dict-ticker-row-@t.ticker.tickerId" class="tr-ticker">
                        <td class="td-ticker">@t.ticker.tickerId</td>
                        <td class="td-ticker">@t.ticker.tickerCode</td>
                        @***
                        <td class="td-ticker">@t.ticker.tickerFirst</td>
                        <td class="td-ticker">@t.ticker.tickerSeconds</td>
                        ***@
                        <td class="td-ticker">@t.lastTickDateTime</td>
                        <td class="td-ticker">@t.diffSeconds</td>
                        <td id="td-ticker-fail-bws-@t.ticker.tickerId" class="td-ticker">
                            <img id="wimg-ticker-@t.ticker.tickerId" align="middle" border="0" hspace="0" vspace="0" src="@routes.Assets.at("images/intro.gif")"/>
                            <span id="span-ticker-fail-bws-@t.ticker.tickerId"></span>
                        </td>
                    </tr>
                    }
                </table>
            </div>
        </td>
        <td width="75%" height="50%" class="td-tbws-right">
            <div id="div-bars-stats">RIGHT UP
            </div>
        </td>
    </tr>
    <tr>
        <td height="50%">
                <div class="demo-container">
                    <div id="placeholder" class="demo-placeholder"></div>
                </div>
            <div id="div-test">div-test text json will be here</div>
        </td>
    </tr>
</table>

} {
<div>caContent for @activeMenuId</div>
}

